html, body{
    height: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(162deg, rgba(0,61,53,.98) 22%, rgba(0,0,0,.98) 100%), url("src/assets/bg.png");
    background-attachment: fixed; /*Esto hace que el gradiente de fondo no se repita, se "ancla" a la vista del usuario*/
    font-family: 'Roboto';
    transition: all .3s;
    
}