
//Colors
$text-color: rgb(209,51,100);
$subtitle-text-color: rgb(44, 170, 160);
$game-data-bg-color: rgba(243, 61, 119, 0.7);
$selected-text-color: rgb(248, 49, 92);
$topbar-background-color: rgb(0,74,64);

//Texts
$title-font: 60px;

//Animations
$seconds_fadein: 1s;

//Measures
$gutter_horizontal: 10%;